---
---

<div
  class="hidden md:block border-b border-pink-400 text-center text-sm px-3 py-2 text-gray-200 overflow-hidden whitespace-nowrap text-ellipsis" style="background: rgba(32, 32, 32, 1);"
>
  <span class="text-xs py-0.5 px-1 bg-primary dark:bg-slate-700 dark:text-slate-300 font-semibold">NEW</span>
  <a
    href="#"
    class="hover:underline text-gray-200 dark:text-slate-400"
    >50% Discounts</a
  >

</div>
