---
import { Icon } from 'astro-icon';
import { Picture } from '@astrojs/image/components';
import Slider from '~/components/widgets/Slider.jsx';
import appleBadge from '~/assets/images/appstore.svg';
import googleBadge from '~/assets/images/google-badge.png';


interface CallToAction {
  text: string;
  href: string;
  icon?: string;
}

export interface Props {
  callToAction?: string | CallToAction;
  callToAction2?: string | CallToAction;
  image?: string | any;
  images?: string | any;
}

const {
  callToAction = await Astro.slots.render('callToAction'),
  callToAction2 = await Astro.slots.render('callToAction2'),
  image = await Astro.slots.render('image'),
  images = await Astro.slots.render('images'),
} = Astro.props;
---

<section class="relative w-full md:flex position-relative">
  <div class="relative w-full">
    {
      images && (
        <div class="absolute w-full h-full top-0 left-0">
          <Slider client:visible images={images} />
        </div>
      )
    }
        {
          image && (
          <div class="relative w-full h-full">
              {typeof image === 'string' ? (
                <Fragment set:html={image} />
              ) : (
                <Picture
                  class="mx-auto w-full"
                  widths={[400, 768, 1024, 2040]}
                  sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px"
                  aspectRatio={1024 / 500}
                  loading="eager"
                  width={1024}
                  height={700}
                  {...image}
                />
              )}
            </div>
          )
        }
      </div>
    </div>


    <div class="mt-[-7px] pb-10 md:py-16 w-full mx-auto" style="background: rgba(32, 32, 32, 1);">
      <div class="relative">
          <div class="flex justify-center items-center md:justify-around md:items-center max-w-2xl mx-auto gap-4">
              <div class="flex w-full sm:w-auto justify-end">
                  <a href="#" target="_blank" rel="noopener">
                      <img
                          src={googleBadge.src}
                          alt="Download our app from Google Play Store"
                          style="height: auto; width: 25rem; max-width: calc(100vw / 3);"
                      />
                  </a>
              </div>
              <div class="flex w-full sm:w-auto">
                  <a href="#" target="_blank" rel="noopener">
                      <img
                          src={appleBadge.src}
                          alt="Download our app from Apple App Store"
                          style="height: auto; width: 25rem; max-width: calc(100vw / 3);"
                      />
                  </a>
              </div>
          </div>
      </div>
  </div>
  
  </div>
</section>


