---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import Note from '~/components/widgets/Note.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import hero from '~/assets/images/hero2.svg';
import slider1 from '~/assets/images/slider/3.png';
import slider2 from '~/assets/images/slider/2.png';
import slider3 from '~/assets/images/slider/1.png';
import slider4 from '~/assets/images/slider/4.png';
import slider5 from '~/assets/images/slider/5.png';
import slider6 from '~/assets/images/slider/6.png';



const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>

  <Hero
    callToAction={{ text: 'Google Play', href: '' }}
    callToAction2={{ text: 'App store', href: '' }}
    image={{ src: hero, alt: 'Front image' }}
    images={[
      { src: slider1.src, alt: 'Image 1' },
      { src: slider2.src, alt: 'Image 2' },
      { src: slider3.src, alt: 'Image 3' },
      { src: slider4.src, alt: 'Image 4' },
      { src: slider5.src, alt: 'Image 5' },
      { src: slider6.src, alt: 'Image 6' },
    ]}
  >
  </Hero>

  
  <Note />

  <Content
  isReversed
  isAfterContent
  items={[
    {
      title: 'As an entrepreneur find your co-founder, choose wisely like a spouse 😂',
    },
    {
      title: 'As a freelance, find new opportunities that align with your skills and interests',
    },
    {
      title: 'Nerwork and meet like minded indviduals who share your interests in work, technology and arts',
    },
    {
      title: 'Do not settle for less - find the right match with Swippro today! - Install now ',
    }
  ]}
  image={{
    src: import('~/assets/images/vintage.png'),
    alt: 'Vintage Image',
  }}
    >
   
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Your NETWORK is your NETWORTH</h3>
      Find your perfect match with Swippro - whether you're looking for a co-founder. mentor or job opportunity. With Swiopro you have the power to rearch for individuals based on skill. degree, needs, experience, location, and more. Our AI models will understand your needs and propose for you the best suggestions.
    </Fragment>
</Content>



  <Content
    image={{
      src: import('~/assets/images/caos.png'),
      alt: 'Colorful Image',
    }}
  >
  <Fragment slot="content">
    <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Who is Swippro for</h3>
    Swippro is designed for anyone who is looking to connect with like-minded individuals, whether it be for a job opportunity, a mentorship, or a co-founder. Swippro is the perfect platform to find your perfect match.
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
    title="Get your dream career with Swippro."
    items={[
      {
        title: 'Step 1: <span class="font-medium">Download</span>',
        description:
          'Download our application in Google Play or the App Store.',
        icon: 'tabler:package',
      },
      {
        title: 'Step 2: <span class="font-medium">Swipe</em>',
        description:
          'Simply get swipping ',
        icon: 'tabler:letter-case',
      },
      {
        title: 'Step 3: <span class="font-medium">Hone your Profile</span>',
        description:
          'Perfect your profile to frequent the elite ',
        icon: 'tabler:paint',
      },
      {
        title: 'Grow your network!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: import('~/assets/images/creativity.jpg'),
      alt: 'Steps image',
    }}
  />



  <Stats
    items={[
      { name: 'Downloads', value: '132K' },
      { name: 'Stars', value: '24.8K' },
      { name: 'Forks', value: '10.3K' },
      { name: 'Users', value: '48.4K' },
    ]}
  />

  <FAQs
    
    highlight="FAQs"
    items={[
      [
        {
          question: 'What do I need to start?',
          answer:
            'Space, the final frontier. These are the voyages of the Starship Enterprise. Its five-year mission: to explore strange new worlds. Many say exploration is part of our destiny, but it’s actually our duty to future generations.',
        }
      ],
      [
        {
          question: "What's an example of when you changed your mind?",
          answer:
            "Michael Knight a young loner on a crusade to champion the cause of the innocent. The helpless. The powerless in a world of criminals who operate above the law. Here he comes Here comes Speed Racer. He's a demon on wheels.",
        }
      ],
    ]}
  />


  
</Layout>
